[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Gallery
Exec=invoker -s --type=d /usr/bin/qmlgallery -fullscreen
Icon=icons-Applications-photos
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
